
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

trag index Demo
@{ 
    var N = 9;
    int a = 11;
    dynamic m = 5;
    m = "aaaa";
}

@for (int i = 1; i < 11 ; i++)
{
    <div> @N  X @i = @(N*i) </div>
}